@font-face {
    font-family: 'Impact', sans-serif ;
    src: url("../fonts/impact.woff2");
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1220px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #040404;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;

}

.header {
    padding-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #D8D4CA, rgba(217, 217, 217, 0) 100%);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    gap: 0 40px;
    padding-top: 25px;
}
.menu-left {
    padding-left: 25px;
}

.menu-right {
    padding-right: 80px;
}

.logo {

}

.menu__link {
    color: #363636;
    font-size: 16px;
}

.promo {
    background-image: url("../images/promo.jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.promo__inner {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 76px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 48px;
    border-bottom: 1px solid #040404;
    margin-bottom: 10px;
    align-self: center;
}

.subtitle span {
    display: block;
    font-size: 34px;
    color: #9F6B08;
    padding: 10px 0;

}

.promo__text {
    font-size: 16px;
    color: #363636;
    margin-bottom: 10px;
}

.promo-arrow {
    margin-top: auto;
    margin-bottom: 30px;
    align-self: center;

}
.info-container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 920px;
}

.info {
   margin-bottom: 100px;
}

.info__part {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.info__part_third {
    padding-top: 66px;
}

.info__part_first {
    display: block;
}

.info__title {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
}

.info__part_textbox {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.info__text {
    flex-basis: 440px;
    margin-bottom: 30px;
}

.info__part_img {
    object-fit: cover;
}

.info__content {
    flex-basis: 415px;
}

.info__part_second .info__text {
    max-width: 352px;
}

.info__part_third .info__text {
    max-width: 377px;
}

.info__table {
    flex-basis: 450px;
    border-bottom: 1px solid #040404;
    position: relative;
    top: 20px;
}

.info__table::before {
    content: '';
    border-top: 1px solid #040404;
    position: absolute;
    width: 100%;
    top: -20px;
}

.info__table td {
    padding-bottom: 20px;
}

.track {
    background-image: url("../images/track-big.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.track__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.track__title {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: 300;
}

.track__text {
    max-width: 435px;
}

.track__img {
    margin: auto auto 90px auto;
}

.evo {
    font-size: 14px;
    margin-bottom: 100px;
}

.evo__black {
    background-color: #363636;
    padding: 100px 0 50px;
    color: #FFFFFF;
}

.evo__black_inner {
    position: relative;
}

.evo__black_inner::before {
    content: "";
    background-image: url("../images/dec-1.svg");
    width: 185px;
    height: 213px;
    top: 210px;
    left: -130px;
    position: absolute;
}

.evo__black_inner::after {
    content: "";
    background-image: url("../images/dec-2.svg");
    width: 498px;
    height: 572px;
    top: 290px;
    left: -40px;
    position: absolute;
}

.evo__black_info {
    display: flex;
    justify-content: space-between;
}

.evo__black_title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
    padding-right: 50px;
}

.evo__black_infobox {
    flex-basis: 437px;
}

.evo__black_text {
    font-size: 14px;
    margin-bottom: 30px;
}

.evo__black_img {
    display: block;
    margin: 170px auto 60px;
    position: relative;
    z-index: 1;
}

.evo__description_list {
    display: flex;
    justify-content: center;
    gap: 0 65px;
}

.evo__description_list dd {
    text-transform: uppercase;
}

.evo__white {

}

.evo__white_inner {
    padding-top: 125px;
    position: relative;
}
.evo__white_inner::before {
    content: "";
    background-image: url("../images/dec-3.png");
    width: 274px;
    height: 257px;
    top: -40px;
    left: 360px;
    position: absolute;
}

.evo__white_inner::after {
    content: "";
    background-image: url("../images/dec-4.png");
    width: 324px;
    height: 311px;
    top: 115px;
    left: 600px;
    position: absolute;
}

.evo__white_text {
    margin-bottom: 30px;
}

.evo__white_text:first-child {
    max-width: 285px;
}

.evo__white_text:nth-child(2) {
    max-width: 437px;
}

.evo__white_text:nth-child(3) {
    max-width: 590px;
}

.evo__white_video {
    margin-top: 100px;
    background-image: url("../images/evo-video.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.evo__white_video-link span {
    display: block;
    color: #FFFFFF;

}



